body {
  background-color: #040E27;
  color: #fff;
}

p {
  margin: 0;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.quote {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 5em;
  height: auto;
  margin: 2em 0 2em 0;
}

.text {
  font-size: 1.5rem;
}

.mark {
  font-size: 3rem;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 1em;
  color: red;
}